<h1> <%= @question.body %> </h1>

<%= form_for @question do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Edit Question" %>
<% end %>
 
<% if @answers != nil %>
	<% @answers.each do |answer| %>
		<ul>
			<li> 
				<%= answer.body %>
			</li>
		</ul>
	<% end %>
<% end %>