<h1> Questions </h1>

<div class='new-question'>
	<h2>Ask a Question:</h2>

	<% if session[:user_id]%>
		<%= form_for @question do |f| %>
			<%= f.text_area	:body %>
			<%= f.submit "Post Question" %>
		<% end %>
	<% else %>
		<p> you must be logged in to ask a question.</p>
	<% end %>
</div>

<ul>
	<% @questions.each do |question| %>
		<li> 
			<a href="/questions/<%= question.id %>", class='edit-link'><%= question.body %></a> - Answers(<%= question.answers.count %>)<br>
		</li>
	<% end %>
</ul>