<h1 class="h1"> Questions </h1>

<div class='new-question'>
  <h2>Ask a Question</h2>

  <% if session[:user_id]%>
    <%= form_for @question, html: { class: "form-group" } do |f| %>
      <%= f.text_area :body %><br><br>
      <%= f.submit "Post Question", html: { class: "input-control" } %>
    <% end %>
  <% else %>
    <p> you must be logged in to ask a question.</p>
  <% end %>
</div>

<ul class="list-group">
  <% @questions.each do |question| %>
    <li class="list-group-item">
      <div class="answer-block">
        <span class="badge center"><%= question.answers.count %></span>
        <br>
        Answers
      </div>
      <%= link_to question.body, question_path(question.id), class: "question" %><br>
    </li>
  <% end %>
</ul>