<h2>show the question</h2>


<%= @question.body %><br>
<div id="add_comments"> </div>


	<div id="comments"><br>
		<b>these are comments for q:</b><br>
		<% @question.comments.each do |comment| %>
			<%= comment.body %><br>
		<% end %><br>
	<%= link_to "add comment for question", show_comment_path(@question), :remote => true %>
	</div>








<br><br>
<b>these are answers:</b><br>
<% answers = ['pretend this is an answer', 'this toooo', 'yup'] %>
<% answers.each do |answer| %>
	<%= answer %><br>
	<div id ="add_comments_to_answers">
	</div>
	<%= link_to "add comment for answer", show_comment_path(@question), :remote => true %><br><br>
<% end %>





<h2>your answer</h2>
<%= form_for @answer do |f| %>
	<%= f.text_field :body %>
	<%= f.submit "submit answer"%>
<% end %>


