<h2>show the question</h2>


<%= @question.body %>

<!-- ##adding comment to the QUESTION -->
<%= link_to "add comment", comment_new_path %>
<%= link_to "view comments", comment_index %>


<!-- answers && link to add comment to ANSWER -->
<p>show the answers:</p>
<%= @question.answers.each do |answer| %>
	<%= answer.content %><br>
	<%= link_to "add comment", comment_new_path %>
<% end %>



##prevent default for sending it to a new link
##javascript is going to drop down the comment box
