<h2>show the question</h2>


<%= @question.body %>
	<div id="comments">
	</div>

 <div id="add_comments">

 </div>


<!-- ##adding comment to the QUESTION -->
<%#= link_to "add comment", comments_show_comment_path,  :id => "question_comment_link", :remote => true  %>


<%= link_to "add comment", question_comments_path(@question), :remote => true %>


<%= form_for @answer do |f| %>
	<%= f.label :answer %>
	<%= f.text_field :body %>
	<%= f.submit "submit answer"%>
<% end %>


@question.answers.each do |answer|