<h2>question page:</h2>

<b>this is the question:</b><br>
<%= @question.body %><br>
	<div id="add_comment_box_to_questions"> </div>


	<div id="comments"><br>
		<b>these are comments for q:</b><br>
		<% @question.comments.each do |comment| %>
			<%= comment.body %><br>
		<% end %><br>
	<%= link_to "add comment for question", new_question_comment_path(@question), :remote => true %>
	</div>








<br><br>
<b>these are answers:</b><br>

	<% @question.answers.each do |answer| %>
		<% answer_id = answer.id %>
		<% @answer = answer %>
		<%= answer.body %><br>
		<div id ="add_comment_box_to_answers_<%=answer_id%>" >
		</div><br>

		<div id = "comments">
			<%= render template: "comments/answers_comments", locals: {answer: @answer} %><br>

			<%= link_to "add comment for answer", new_answer_comment_path(answer_id), :remote => true %><br><br>
		</div>
<% end %>




