<h1><%= @question.body %></h1>
<%= link_to "Up", question_upvote_path, method: :post %>
<%= @question.votes.count %>
<%= link_to "Down", question_downvote_path, method: :post %>
<br>
<br>


<% unless @question.comments.empty? %>
	<h3> Comments on Question </h3>
	<ul>
		<% @question.comments.each do |comment| %>
			<li> <%= "#{User.find(comment.user_id).username} said... " + comment.body %> </li>
		<% end %>
	</ul>
<% end %>

<%= link_to "add comment", question_comments_path(@question), :remote => true %>

<% if @answers.empty? == false %>
	<h3>Answers</h3>
	<ol>
		<% @answers.each do |answer| %>
				<li> 
					<%= answer.body %><br>
					<ul>
						<% if answer.comments.empty? == false %>
							<% answer.comments.each do |comment|  %>
								<li> <%= "#{User.find(comment.user_id).username} said... " + comment.body %> </li>
							<% end %>
						<% end %> 
					</ul>
				</li>
		<% end %>
	</ol>
<% end %>

<%= form_for @answer do |f| %>
	<%= f.label :answer %>
	<%= f.text_field :body %>
	<%= f.submit "submit answer"%>
<% end %>

<!-- ##adding comment to the QUESTION -->
<%#= link_to "add comment", comments_show_comment_path,  :id => "question_comment_link", :remote => true  %>



