<!DOCTYPE html>
<html>
<head>
  <title>DBC Overflow</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Open+Sans:300,700,800" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vote" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top-nav">
    <nav>
        <ul>
          <li id="name"><%= link_to "DBC OVERFLOW", root_path %></li>
          <% if session[:user_id] %>
          <li><%= link_to "My Profile", user_path(session[:user_id]) %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Signup", new_user_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
    </nav>
  </div>

<div class="container">

<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>


<%= yield %>
</div>
</body>
</html>
